.squares-list__item{
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}
/*.active{*/
/*    background: transparent;*/
/*}*/
.active,
.blue{
    background: blue;
}
.red {
    background: red;
}
.yellow {
    background: yellow;
}
.green {
    background: green;
}
.grey {
    background: grey;
}