.App {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
.instruction{
  display: block;
  max-width: 250px;
  margin: 20px auto;
  text-align: left;
}
li{
  list-style-type: none;
}
.App-logo{
  max-width: 300px;
  margin: 20px auto;
}
.init-btn{
  width: 80px;
  margin: 0 10px;
  background: blueviolet;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 4px 0;
  cursor: pointer;
  transition: all .3s;
}
.init-btn:hover{
  background: lightblue;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-direction: column;
}
.colors-list{
  width: 100%;
  max-width: 250px;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.squares-list{
  width: 100%;
  /*max-width: 80%;*/
  margin: 50px auto;
  display: block;
}
.hovered-items-info-wrap{
  width: 100%;
}
.hovered-items-info-wrap h2{
  margin: 0;
}
.hovered-items-info{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 4px;
  color: #000;
  background: lightgreen;
  width: 50%;
  max-width: 210px;
  margin: 5px auto;
}
.hovered-items-info>span{
  margin-right: 20px;
}
@media (max-width: 450px){
  .squares-list__item {
    width: 30px;
    height: 30px;
  }
}